<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DigitalOcean Droplets</title>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
          integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4="
          rel="stylesheet"/>
</head>
<body>
<table class="table is-fullwidth is-striped is-bordered">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Birth State</th>
        <th>Birth Country</th>
        <th>NIN</th>
        <th>Tracking ID</th>
        <th>Picture</th>
        <th>Signature</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ response.surname }}</td>
        <td>{{ response.birthdate }}</td>
        <td>{{ response.telephone }}</td>
        <td>{{ response.residence_address.address_line1 }}</td>
        <td>{{ response.birthstate }}</td>
        <td>{{ response.birthcountry }}</td>
        <td>{{ response.nin }}</td>
        <td>{{ response.tracking_id }}</td>
        <td><img src="{{ response.photo }}" alt="nin_image"></td>
        <td><img src="{{ response.signature }}" alt="nin_image"></td>
    </tr>

    </tbody>
</table>
</body>
</html>